body {
  margin: 0;
  font-family: roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  color: rgb(85, 85, 85);
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
